@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

$app-max-width: 420px;

.app-container {
    background-image: url('../../../../Public/Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Baloo 2', cursive;
}

.reto-card {
    max-width: $app-max-width;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.85);
}

.reto-title {
    font-size: 1.8rem;
    color: #c62828;
    font-weight: 700;
}

.reto-text {
    font-size: 1rem;
    color: #333;
    padding: 0 1rem;
}

.reto-btn {
    background-image: url('../../../../Public/Btn_Empezar.svg');
    // background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 50rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reto-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
}

.reto-btn:active {
    animation: pulse 0.4s;
    color: #ffe;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.institucional-text {
    font-size: 0.8rem;
    color: #666;
}