@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

.resultado-wrapper {
    background-image: url('/Background.webp');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family: 'Baloo 2', cursive;
    color: #333;
}

.quiz-header {
    background-color: rgb(35, 99, 117);
    justify-content: center;
}

.logo-epici-container {
    background-color: #fff;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.3rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-epici {
    height: 40px;
    display: block;
}

.quiz-titulo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8aa511;
    margin: 0;
    margin-right: 2%;
}

.resultado-contenido {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media (max-width: 768px) {
        flex-wrap: wrap;
        text-align: center;
    }
}

.resultado-personaje {
    max-height: 220px;
    flex-shrink: 0;
}

.resultado-datos {
    min-width: 50%;
    max-width: 75%;
}

.resultado-felicidades {
    font-size: 2rem;
    color: #2e7d32;
    font-weight: bold;
}

.resultado-puntaje {
    font-size: 1.6rem;
    color: #c62828;
    font-weight: bold;
}

.resultado-correctas {
    font-size: 0,8rem;
    color: #333;
}

.resultado-premio-box {
    background-size: cover;
    background-position: center;
}

.resultado-premio-text {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.resultado-instruccion {
    font-size: 1rem;
    color: #555;
}

.logo-final {
    height: 60px;
}